body {
  background-color: #111;
  color: #fff;
}

/* Cursor normal para Tudo */
html, body, *, *::before, *::after {
  cursor: url("cursor_ping_pong_32.png") 16 16, auto !important;
}

/* Cursor quando for clicável (botões, links, elementos com pointer) */
a, button, [role="button"], input[type="submit"], input[type="button"], .btn, .navbar-toggler {
  cursor: url("cursor_ping_pong_32.png") 16 16, pointer !important;
}

/* Inputs e textarea não faz o cursor voltar ao normal */
input, textarea, select {
  cursor: url("cursor_ping_pong_32.png") 16 16, text !important;
}

nav.navbar {
  background: #000 !important;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.secaoprincipal {
  height: 100vh;
  background: linear-gradient(to bottom, #000000c0, #000000e7),
      url('foto fundo ping pong.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  color: white;
  padding-top: 80px;
  position: relative;
  overflow: hidden;
}

#raquete3d {
    width: 350px;
    height: 350px;
    position: absolute;
    right: 50px;
    bottom: 20px;
}

@keyframes float {
  0% {transform: translateY(0) rotateY(0deg) rotateZ(0deg)}
  50% {transform: translateY(-18px) rotateY(10deg) rotateZ(-1deg)}
  100% {transform: translateY(0) rotateY(0deg) rotateZ(0deg)}
}

@keyframes rotateRight {
  0% {transform: rotateY(0deg)}
  100% {transform: rotateY(350deg)}
}

/* Fundo suave atrás do 3D */
#raquete3d::before {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.35), rgba(0,0,0,0));
    filter: blur(25px);
    z-index: -1;
}

/* Melhor renderização no Chrome */
#raquete3d canvas {
    filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.5));
    transform: translateZ(0); /* força renderização correta */
}

/* Evita distorção em alguns monitores */
#raquete3d {
    will-change: transform, opacity;
}

section {
  padding: 90px 0;
}

.beneficio-card {
  background: #181818;
  border: 1px solid #303030;
  transition: .3s;
}

.beneficio-card:hover {
  transform: scale(1.05);
  border-color: #ff4040;
}

.form-control {
  background: #222;
  border: 1px solid #444;
  color: #fff;
}

.form-control:focus {
  background: #222;
  border-color: #ff3636;
  color: #fff;
  box-shadow: none;
}

.btn-limpar {
  background: #181818;
  border: 0px solid #181818;
  color: #ffffff;
  font-weight: bold;
}

.form-control::placeholder {
  color: #444343;          
}

 .form-control.valid {
  border-color: #00ff55 !important;
}

.form-control.invalid {
  border-color: #ff3636 !important;
}

.comentario-card {
  background: #181818;
  border: 1px solid #303030;
  transition: 0.3s;
}

.comentario-card:hover {
  transform: translateY(-4px);
  border-color: #303030;
}

.perfil-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ffffff;
}

footer {
  background: #000;
  border-top: 1px solid #222222;
}

footer i:hover {
  color: #ff3636;
  transition: color 0.3s ease;
}
